<% layout('layout/boilerplate.ejs') %>
<div class="signup-form" style="width: 50%; margin: auto;" >
    <form action="/signup" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
         </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="password">
        </div>
        <div class="mb-3">
            <label for="role" class="form-label">Role</label>
            <select id="role" class="form-select" aria-label="Default select example" name="role">
                <option selected value="Buyer">Buyer</option>
                <option value="Seller">Seller</option> 
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>